<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>The Ambassador.md</key>
			<dict>
				<key>lastModification</key>
				<real>554711527.46867502</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>The Bogatyr (Knight).md</key>
			<dict>
				<key>lastModification</key>
				<real>554711527.51888895</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>The Explorer.md</key>
			<dict>
				<key>lastModification</key>
				<real>554711527.97060204</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>The Loremaster.md</key>
			<dict>
				<key>lastModification</key>
				<real>554711523.18198395</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>The Merchant.md</key>
			<dict>
				<key>lastModification</key>
				<real>554711527.83626294</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>The Scout.md</key>
			<dict>
				<key>lastModification</key>
				<real>554711527.51798403</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>The Vagabond.md</key>
			<dict>
				<key>lastModification</key>
				<real>554711521.062356</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>The Bogatyr (Knight).md</string>
		</array>
		<array>
			<string>The Scout.md</string>
		</array>
		<array>
			<string>The Ambassador.md</string>
		</array>
		<array>
			<string>The Merchant.md</string>
		</array>
		<array>
			<string>The Explorer.md</string>
		</array>
		<array>
			<string>The Loremaster.md</string>
		</array>
		<array>
			<string>The Vagabond.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
