<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Age Modifiers.md</key>
			<dict>
				<key>lastModification</key>
				<real>554819595.01787603</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>Arbiter Characters.md</key>
			<dict>
				<key>lastModification</key>
				<real>558542117.787377</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>Arbiter Playbooks.md</key>
			<dict>
				<key>lastModification</key>
				<real>558542124.85853696</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>Arbiter Projects.md</key>
			<dict>
				<key>lastModification</key>
				<real>559759515.81059504</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>Arbiter Relationship.md</key>
			<dict>
				<key>lastModification</key>
				<real>554819720.18355095</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Legendary Warriors.md</key>
			<dict>
				<key>lastModification</key>
				<real>558542124.85853803</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>The Arbiter's Agent.md</key>
			<dict>
				<key>lastModification</key>
				<real>555146123.70616901</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>Unrelenting Pioneers.md</key>
			<dict>
				<key>lastModification</key>
				<real>558542124.90766299</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>27</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>The Arbiter's Agent.md</string>
		</array>
		<array>
			<string>Arbiter Playbooks.md</string>
			<string>Legendary Warriors.md</string>
			<string>Unrelenting Pioneers.md</string>
		</array>
		<array>
			<string>Age Modifiers.md</string>
		</array>
		<array>
			<string>Arbiter Relationship.md</string>
		</array>
		<array>
			<string>Arbiter Characters.md</string>
		</array>
		<array>
			<string>Arbiter Projects.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
			<integer>30</integer>
		</dict>
	</dict>
</dict>
</plist>
